<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>About - WeatherApp</title>
</head>
<body>
    {{>header}}
    <img id="profile-pic" src="img/roshi.jpeg" alt="mastarosa">
    <p> This App was Developed as an approach to learn NodeJS on hand. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla enim nihil eligendi et, praesentium dolor deleniti amet. Deserunt distinctio corrupti facere, molestiae voluptate officia voluptatem aspernatur necessitatibus culpa quas quaerat!</p>
    {{>footer}}
</body>
</html>