<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>About - WeatherApp</title>
    <link rel="icon" href="img/favicon_io/logo.png" type="image/gif" sizes="16x16">
</head>
<body>
    {{>header}}
    <div class="container main-about">
        <img id="profile-pic" src="img/roshi.jpeg" alt="mastarosa">
        <p>Master roshi</p>
    </div>
    {{>footer}}
</body>
</html>