<h1> Weather Application</h1>

<h2>{{title}}</h2>

<nav>
    <div>
        <a href="/">Home</a>
    </div>
    <div>
        <a href="/about"> About</a>
    </div>
    <div>
        <a href="/help">Help</a>
    </div>
</nav>